<html>
    <head></head>
    <body>
        <h1><%=title%></h1>
        <ul>
            <% messages.map((message) => { %>
                <li> <%=message.username%>: <%=message.text%> - <%=message.created_at%></li>
            <% }) %>
        </ul>
        <a href="new">new</a>
    </body>
</html>